<form class="well">
  <div class="control-group">
    <label class="control-label">Cracked</label>
    <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="cracked">
      <button class="btn" value="">All</button>
      <button class="btn" value="true">Cracked</button>
      <button class="btn" value="false">Uncracked</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Hash Type</label>
    <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="hash_type">
      <button class="btn" value="">All</button>
      <button class="btn" value="md5">MD5</button>
      <button class="btn" value="sha1">SHA1</button>
      <button class="btn" value="sha224">SHA224</button>
      <button class="btn" value="sha256">SHA256</button>
      <button class="btn" value="sha384">SHA384</button>
      <button class="btn" value="sha512">SHA512</button>
      <button class="btn" value="mysql3">MySQL 3</button>
      <button class="btn" value="mysql45">MySQL 4-5</button>
    </div>
  </div>
  <input type="hidden" name="cracked" value="<%= params[:cracked] %>"/>
  <input type="hidden" name="hash_type" value="<%= params[:hash_type] %>" />
</form>