<table>
  <tr>
    <th>Original Filename</th>
    <th>Source</th>
    <th>Processed?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @leak %>
</table>

<br />

<%= link_to 'Back', leaks_path %>